/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------generals */
body{
  font-family: monospace;
}

#main_wrapper{
  width: 100%;
}

.my_container{
  width: 70%;
  max-width: 1200px;
  height: 100%;
  min-height: 40px;
  margin: 0 auto;
}
