
@media screen and (max-width: 1200px) {
  .my_container{
    width: 62.5%
  }
}

@media screen and (max-width: 768px) {
  .my_container{
    width: 80%
  }
}

@media screen and (max-width: 500px) {
  .my_container{
    width: 95%;
    
  }
}
