/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------generals */
body{
  font-family: 'Domine';
  background-image: url(../assets/screenshot.png);
  background-size: contain;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

i{
  font-size: 0.7rem;
}

h3{
  font-size: 0.8rem;
}

#main_wrapper{
  width: 100%;
  background-image: url(../assets/screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.my_container{
  width: 62.5%;
  max-width: 1200px;
  height: 100%;
  min-height: 40px;
  margin: 0 auto;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg_primary{
  background-color: $bg_light_grey;
}
.bg_white{
  background-color: $white;
}
.bg_avada{
  background-color: $avada_orange;
}
.bg_light{
  background-color: $bg_light_grey2
}
.bg_mid{
  background-color: $grey_mid
}
.bg_grey{
  background-color: $grey
}

.bg_subscribe{
  background-image: url(/src/assets/img/avada/subscribe-sec-bg.png);
  background-size: cover;
}
.clr_black{
  color: $black;
}
