/* reset  */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------generals */
body{
  font-family: 'Domine';
  background-image: url(../assets/screenshot.png);
  background-size: contain;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

i{
  font-size: 0.7rem;
}

h3{
  font-size: 0.8rem;
}

#main_wrapper{
  width: 100%;
  background-image: url(../assets/screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.my_container{
  width: 62.5%;
  max-width: 1200px;
  height: 100%;
  min-height: 40px;
  margin: 0 auto;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg_primary{
  background-color: $bg_light_grey;
}
.bg_white{
  background-color: $white;
}
.bg_avada{
  background-color: $avada_orange;
}
.bg_light{
  background-color: $bg_light_grey2
}
.bg_mid{
  background-color: $grey_mid
}
.bg_grey{
  background-color: $grey
}

.bg_subscribe{
  background-image: url(/src/assets/img/avada/subscribe-sec-bg.png);
  background-size: cover;
}
.clr_black{
  color: $black;
}

.b_radius_3{
  border-radius: 3px;
}

.b_radius_5{
  border-radius: 5px;
}

.b_radius_10{
  border-radius: 10px;
}

.hover_img{
  a, h4{
    opacity: 0;
  }
}






// .hover_img{
//   position: relative;
//   width: 100%;
//   height: 100%;
//   img{
//     opacity: 1;
//     height: 100%;
//     transform: translate(0px,  -20px);
//   }
//   a{
//     opacity: 0;
//     text-align: center;
//     position: relative;
//     display: block;
//     color: white;
//     background-color: grey;
//     top: 40px;
//     z-index: 999;
//     width: 50%;
//     margin: 0 auto;
//   }
//   h4{
//     opacity: 0;
//     text-align: center;
//     display: block;
//     position: absolute;
//     color: white;
//     width: 80%;
//     top: 45%;
//     left: 10%;
//     font-size: 0.8rem;
//     z-index: 998;
//   }
// }
// .hover_img:hover{
//   background-image: linear-gradient(black,$avada_orange);
//   img{
//     opacity: 0.1;
//   }
//   a{
//     opacity: 1;
//   }
//   h4{
//     opacity: 1;
//   }
// }
