$white : white; //palette

$primary : rgb(252, 117, 35); //palette
$avada_orange : rgb(252, 117, 35); //palette
$bg_light_grey : rgb(245, 245, 241); //palette
$bg_light_grey2 : rgb(237, 237, 232);

$grey_mid:rbg(156, 151, 148);
$grey : rgb(103, 97, 90); //palette

$black : rgb(49, 49, 54)